body {
  height: 100%;
  background-color: #18181a;
  color: white;
  font-family: 'Cascadia Mono Light', 'Courier New';
  padding-bottom: 50px;
}

.navbar {
  text-align:center;
}

.navbar * {
  padding: 5px;
}

.nav-link {
  padding: 0;
}

a {
  color: rgb(197, 201, 216);
}

a:hover {
  color: rgb(117, 117, 173);
}